<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    
    <!-- Configurações de sessão -->
    <sessionState mode="InProc" timeout="30" />
    
    <!-- Configurações de autenticação -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" />
    </authentication>
    
    <!-- Configurações de autorização -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- Configurações de erro customizadas -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="NotFound.aspx" />
      <error statusCode="500" redirect="Error.aspx" />
    </customErrors>
    
    <!-- Configurações de globalization -->
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  
  <!-- Connection Strings -->
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=localhost;Initial Catalog=PortalCasaTerra;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- App Settings -->
  <appSettings>
    <add key="ApplicationName" value="Portal Casa & Terra" />
    <add key="Version" value="1.0.0" />
    <add key="Environment" value="Development" />
  </appSettings>
  
  <!-- System.webServer para IIS -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    
    <!-- Configurações de compressão -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Headers de segurança -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>